[preset.0]
name="iOS"
platform="iOS"
runnable=true
export_filter="all_resources"
include_filter=""
exclude_filter=""
export_path="ios_build/index.xcode_project"

[preset.0.options]
# 1. 必填：你的 Apple Team ID (10 位英數代碼)
# 如果你暫時沒有，可以先隨便填一個 10 位的字串，例如 "ABC1234567"
application/apple_team_id="ABC1234567"

# 2. 必填：Bundle Identifier
application/bundle_identifier="com.yourname.game"

application/short_version="1.0"
application/version="1.0.0"
renderer/rendering_method="gl_compatibility"
architectures/arm64=true
